EXPO_PUBLIC_SUPABASE_URL= https://dzquuedwbmgfykvrwzzv.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6cXV1ZWR3Ym1nZnlrdnJ3enp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNjc1NTQsImV4cCI6MjA4OTc0MzU1NH0.WhZZEERGt6yn98LmYE27Ssh-lvwbBLGNokk673ZSwL8
